@model MDBlogPostViewModel
@using System.Linq
@{
    var deleteConfirmMessage = TranslationService.T(HttpContextAccessor.HttpContext, "DeleteConfirm");
    //var tags = Model.Tags?.Split(',').Select(tag => tag.Trim()).ToList() ?? new List<string>();
}

@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.css" rel="stylesheet" />
}

<div class="container mt-5">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary mb-3">@TranslationService.T(HttpContextAccessor.HttpContext, "Edit")</a>
        <form asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline" onsubmit="return confirm('@deleteConfirmMessage');">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-danger mb-3">
                @TranslationService.T(HttpContextAccessor.HttpContext, "Delete")
            </button>
        </form>
    }

    <!-- Title -->
    <h1 class="h1 fw-bold mb-4">@Model.Title</h1>

    @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
    {
        <p class="fs-5 text-muted fst-italic">@Model.Subtitle</p>
    }

    <!-- Posted On -->
    <p class="text-secondary mb-3">
        @TranslationService.T(HttpContextAccessor.HttpContext, "PostedOn") @Model.Date.ToString("yyyy-MM-dd")
    </p>

    <!-- Tags -->
    @if (Model.Tags != null && Model.Tags.Count() > 0)
    {
        <div class="mb-4">
            @foreach (var tag in Model.Tags)
            {
                <a href="@Url.Action("PostsByTag", "Home")#@tag.Trim()"
                   class="badge bg-primary text-white me-1">
                    @tag.Trim()
                </a>
            }
        </div>
    }

    <!-- Content -->
    <div class="markdown-body">
        @Html.Raw(Model.HtmlContent)
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.js"></script>
}