@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@TranslationService.T(HttpContextAccessor.HttpContext, "PrivacyPolicy")</h1>
<p class="text-muted">@TranslationService.T(HttpContextAccessor.HttpContext, "EffectiveDate"): July 2, 2025</p>

<h4 class="mt-4">@TranslationService.T(HttpContextAccessor.HttpContext, "IntroTitle")</h4>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "IntroText")</p>

<h4 class="mt-4">@TranslationService.T(HttpContextAccessor.HttpContext, "NoDataTitle")</h4>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "NoDataText")</p>
<ul>
    <li>@TranslationService.T(HttpContextAccessor.HttpContext, "NoTrackingCookies")</li>
    <li>@TranslationService.T(HttpContextAccessor.HttpContext, "NoAnalytics")</li>
    <li>@TranslationService.T(HttpContextAccessor.HttpContext, "NoForms")</li>
</ul>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "AnonymousBrowsing")</p>

<h4 class="mt-4">@TranslationService.T(HttpContextAccessor.HttpContext, "CookiesTitle")</h4>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "CookiesText")</p>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "CookiesVisitors")</p>

<h4 class="mt-4">@TranslationService.T(HttpContextAccessor.HttpContext, "MediaLinksTitle")</h4>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "MediaLinksText")</p>

<h4 class="mt-4">@TranslationService.T(HttpContextAccessor.HttpContext, "ChangesTitle")</h4>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "ChangesText")</p>

<h4 class="mt-4">@TranslationService.T(HttpContextAccessor.HttpContext, "ContactTitle")</h4>
<p>@TranslationService.T(HttpContextAccessor.HttpContext, "ContactText")</p>

<p class="mt-4 text-muted">
    <em>@TranslationService.T(HttpContextAccessor.HttpContext, "AntiForgeryNote")</em>
</p>
